sublime-text-3/Packages/Jedi - Python autocompletion/
sublime-text-3/Packages/PyV8/
sublime-text-3/Packages/SublimePythonIDE/
sublime-text-3/Packages/SublimeREPL/
sublime-text-3/Packages/User/ColorPicker/
sublime-text-3/Packages/User/Package Control.cache/
sublime-text-3/Packages/User/Package Control.last-run