[submodule "sublime-text-3/Packages/SideBarEnhancements"]
	path = sublime-text-3/Packages/SideBarEnhancements
	url = git://github.com/titoBouzout/SideBarEnhancements.git
	branch = st3
[submodule "sublime-text-3/Packages/BracketHighlighter"]
	path = sublime-text-3/Packages/BracketHighlighter
	url = git://github.com/facelessuser/BracketHighlighter.git
	branch = BH2ST3
[submodule "sublime-text-3/Packages/SublimeLinter"]
	path = sublime-text-3/Packages/SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
	branch = sublime-text-3
